{% extends 'base.html' %}
{% block content %}
<div class="mx-auto" style="max-width: 400px">
    <h1>Sign up</h1>
    
    <form method="POST">
              {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">I am a</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="seeker" value="seeker" checked>
                        <label class="form-check-label" for="seeker">Job seeker</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="recruiter" value="recruiter">
                        <label class="form-check-label" for="recruiter">Recruiter</label>
                    </div>
                </div>
              {{ template_data.form.as_p }}
              <button type="submit" class="btn bg-dark text-white">Sign Up
              </button>
            </form>
    <p class="mt-3">Already have an account? <a href="{% url 'accounts.login' %}">Log in</a></p>
</div>
{% endblock content %}