body {
    background-color: #faf5f2;
}

.btn-primary {
    --bs-btn-bg: #0231a8;
    --bs-btn-border-color: #0231a8;
    --bs-btn-hover-bg: #01287f;
    --bs-btn-hover-border-color: #01287f;
}

.map-placeholder {
    height: 300px;
    background-color: #ebe3e1;
}